@page "/login"

@inject IAuthenticationService AuthService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<div>
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="mb-3 text-xs-center">Sign in</h1>
                <EditForm Model="@loginCommand" OnValidSubmit="ExecuteLogin">
                    <FluentValidationValidator />

                    <fieldset class="mt-3 form-group">
                        <div>
                            <InputText class="form-control form-control-lg" type="email" placeholder="Email" @bind-Value="loginCommand.Email" />
                        </div>
                        @if (context.GetValidationMessages().Any(x => x.ToLower().Contains("email")))
                        {
                            <div class="mt-1 alert alert-danger" role="alert">
                                <ValidationMessage For="@(() => loginCommand.Email)" />
                            </div>
                        }
                    </fieldset>
                    <fieldset class="mt-2 form-group">
                        <div>
                            <InputText class="form-control form-control-lg" type="@TxtType" placeholder="Password" @bind-Value="loginCommand.Password" />
                        </div>
                        @if (context.GetValidationMessages().Any(x => x.ToLower().Contains("password")))
                        {
                            <div class="mt-1 alert alert-danger" role="alert">
                                <ValidationMessage For="@(() => loginCommand.Password)" />
                            </div>
                        }
                        <span>
                            <input type="checkbox" @onclick="ShowPassword"> Show Password
                        </span>
                    </fieldset>
                    <fieldset class="mt-3 text-xs-center">
                        <a href="reset-password"><strong>Forgot your password?</strong></a>
                    </fieldset>
                    <button class="mt-3 btn btn-lg btn-primary pull-xs-right" type="submit">
                        Login
                    </button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    private LoginCommand loginCommand = new();

    public string TxtType = "password";

    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;
        if (user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/");
        }
    }

    public void ShowPassword() 
    {
        if(TxtType== "password")
        {
            TxtType = "text";
        }
        else
        {
            TxtType = "password";
        }
    }

    private async Task ExecuteLogin()
    {
        var result = await AuthService.Login(loginCommand);
        if (result is not null)
        {
            NavManager.NavigateTo("/");
        }
    }
}

<style>
   .e-input-eye:before {
        content: '\e345';
        font-family: e-icons;
        font-size: 13px;
    }
</style>
