@page "/reset-password"

@inject IAccountService AccountService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

@if (showAuthenticationError)
{
    <div class="alert alert-danger" role="alert">
        <p>@authenticationErrorText</p>
    </div>
}

<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="mb-3 text-xs-center">Sign in</h1>
                <form>
                    <fieldset class="mt-3 form-group">
                        <input class="form-control form-control-lg" type="email" placeholder="Email" @bind="resetCommand.Email" />
                    </fieldset>
                    <fieldset class="mt-3 form-group">
                        <input class="form-control form-control-lg" type="password" placeholder="Password" @bind="resetCommand.NewPassword" />
                    </fieldset>
                    <fieldset class="mt-3 form-group">
                        <input class="form-control form-control-lg" type="password" placeholder="Confirm Password" @bind="resetCommand.NewConfirmPassword" />
                    </fieldset>
                    <button class="mt-3 btn btn-lg btn-primary pull-xs-right" type="button" @onclick="ExecuteResetPassword">
                        Reset Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    private ResetPasswordCommand resetCommand = new();

    private bool showAuthenticationError = false;
    private string authenticationErrorText = "";

    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;
        if (user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/");
        }
    }

    private async Task ExecuteResetPassword()
    {
        showAuthenticationError = false;

        var result = await AccountService.ResetPassword(resetCommand);
        if (result is not null)
        {
            NavManager.NavigateTo("/login");
        }
        else
        {
            authenticationErrorText = "There was an error when trying to log in.";
            showAuthenticationError = true;
        }
    }
}
