@page "/products"

<h3>Products Layout</h3>

<div class="container-fluid">
    <div class="row">
        @for (int i = 0; i < 7; i++)
        {
            <div class="col-xl-4 col-lg-6 mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <a href="">
                                <img src="https://dummyimage.com/1200x900/000/fff" class="img-fluid" alt="Image Text" />
                            </a>
                            <p class="my-2 text-justify">
                                A placeholder for the image
                            </p>
                            <p class="mb-1">
                                <strong>Quantity: </strong> 0
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="h4 mb-3">Sample Item - $0.00</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {

}
