@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthStateProvider
@inject ICartService CartService
@inject HttpClient httpClient

<PageTitle>Blazor Shop</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row" style="z-index: 100;">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-share-boxed" aria-hidden="true"></span> Register
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>

            <AuthorizeView Policy="Customer">
                <Authorized>
                    Welcome @username
                    <NavLink href="cart" class="nav-link">
                        <i class="oi oi-cart"></i>
                        Cart (<span>@counts</span>)
                    </NavLink>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Policy="Admin">
                <Authorized>
                    Welcome @username
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorClass="error-toast-override"
                ErrorIcon="fa fa-bug" />

@code {
    [CascadingParameter] AppState AppState { get; set; }

    private int counts { get; set; }

    private string username { get; set; }
    private int userId { get; set; }
    private string userRole { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await httpClient.GetAsync("Home/test");

        var authstate = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;

        if (!user.Identity.IsAuthenticated) return;
        username = user.Claims.FirstOrDefault(x => x.Type == StringRoleResources.NameClaim).Value.Replace("@", " ");
        userId = int.Parse(user.Claims.FirstOrDefault(x => x.Type == StringRoleResources.UserIdClaim).Value);
        userRole = user.Claims.FirstOrDefault(x => x.Type == StringRoleResources.RoleClaim).Value;

        var isAdmin = user.Claims.FirstOrDefault(x => x.Type == StringRoleResources.RoleClaim).Value;
        
        if (!isAdmin.Equals(StringRoleResources.Admin))
        {
            counts = await GetCartCount(userId);            
        }
    }

    private async Task<int> GetCartCount(int userId)
    {
        var cart = await CartService.GetCartCounts(userId);
        return cart > 0 ? cart : 0;
    }
}
