 <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Shop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="profile">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> User Profile
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="Customer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="musics">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Musics
                    </NavLink>
                    <NavLink class="nav-link" href="clothes">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Clothes Shop
                    </NavLink>
                    <NavLink class="nav-link" href="orders">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> My Orders
                    </NavLink>
                    <NavLink class="nav-link" href="receipts">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> My Receipts
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="Default">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Policy="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/users">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/roles">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Roles
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/clothes">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Clothes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/musics">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Musics
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/subscribers">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Subscribers
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/subscriptions">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Subscriptions
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="col-md-2 nav-item px-3" style=" position: fixed; bottom: 0;">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
