@page "/admin/musics/add"
@page "/admin/musics/edit/{Id:int}"

@attribute [Authorize(Policy = "Admin")]

@inject IMusicService MusicService
@inject NavigationManager NavManager

<h3>AddEditMusic</h3>

@code {

}
