@*
  <copyright file="OrderSuccess.razor" company="Beniamin Jitca">
   Copyright (c) Beniamin Jitca. All rights reserved.
  </copyright>
*@

@page "/order-success/{Message}"

@attribute [Authorize(Policy = StringRoleResources.Customer)]

@inject NavigationManager NavManager
@inject HttpInterceptorService Interceptor

<h3 class="text-center" style="margin-top: 30px;">Order Successful Made</h3>

<div class="container-card mt-3">
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="i checkmark">✓</i>
        </div>
        <h1 class="h1-custom">Success</h1> 
        <p class="p">We thank you for your purchase!</p>
    </div>
</div>

@code {
    [Parameter]
    public string Message { get; set; }

    public void Dispose() => Interceptor.DisposeEvent();

    /// <summary>
    /// .
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        Interceptor.RegisterEvent();
    }

    /// <summary>
    /// .
    /// </summary>
    protected override void OnParametersSet()
    {
        if (!Message.Equals("success-made"))
        {
            NavManager.NavigateTo("orders");
        }
    }
}

<style>
    .container-card {
        text-align: center;
        padding: 40px 0;
    }

    .h1-custom {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size:20px;
        margin: 0;
    }

    .i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
    }

    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }
</style>
