@*
  <copyright file="Index.razor" author="Beniamin Jitca">
   Copyright (c) Beniamin Jitca. All rights reserved.
  </copyright>
*@

@page "/admin/todo"

<PageTitle>Todos</PageTitle>

<h1>Todos</h1>

<p>This component demonstrates ...</p>

<TodoState>
	<div class="row">
		<div class="col-sm-4">
			<TodoLists></TodoLists>
		</div>
		<div class="col-sm-8">
			<TodoItems></TodoItems>
		</div>
	</div>
</TodoState>
