@page "/admin/subscriptions/add"
@page "/admin/subscriptions/edit/{Id:int}"

@*@attribute [Authorize(Policy = "Admin")]*@

@inject IClotheService ClotheService
@inject NavigationManager NavManager


<h3>AddEditSubscription</h3>

@code {

}
